* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*... style nabar... */
nav {
    width: 100vw;
    height: 100px;
    padding: 0 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #2c3e50;
    font-size: 1.2rem;
    color: #FFF5E0;
}

nav .logo {
    flex-shrink: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a {
    color: #FFF5E0;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.6s;
}

nav ul li a:hover {
    border-bottom: 1px solid #fff;
}

nav button {
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/*... End navbar ...*/

/*.. Hero Style.. */
.hero {
    height: 100vh;
    background-color: #FF6969;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .pic {
    position: relative;
    margin-top: 40px;
}

.hero .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #2c3e50;
}

.hero .pic img {
    width: 240px;
    position: absolute;
    top: -47px;
    left: -16px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.hero h1 {
    font-size: 2.75rem;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

/* Star style */
.icon,
#about .icon {
    color: #fff;
    position: relative;
    margin-top: 30px;
    font-size: 30px;
}

.icon::before {
    content: " ";
    display: block;
    width: 115px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -64px;
}

.icon::after {
    content: " ";
    display: block;
    width: 115px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -179px;
}

#contact .container .icon,
#portfolio .icon {
    color: #2c3e50;
}

#portfolio .icon::after,
#portfolio .icon::before,
#contact .container .icon::after,
#contact .container .icon::before {
    background-color: #2c3e50;
}

.hero .job {
    margin-top: 30px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

/*.. End Hero.. */

#portfolio h1,
#about h1,
#contact h1 {
    width: max-content;
    margin: 0 auto;
    font-size: 2.75rem;
    padding: 30px 0;
}

#portfolio .container,
#about .container,
#contact .container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}


/* ....portfolio style... */

#portfolio .icon {
    width: max-content;
    margin: 0 auto;
}

#portfolio .container .card {
    width: 356px;
    height: 256px;
    border-radius: 10px;
    background-color: #2c3e50;
    position: relative;
}

#portfolio .container .card .circle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#portfolio .container .card #html {
    background-color: #fcb955;
}

#portfolio .container .card #css {
    background-color: #69b7ff;
}

#portfolio .container .card #js {
    background-color: #5539d1;
}

#portfolio .container .card #git {
    background-color: #fcf155;
}

#portfolio .container .card #github {
    background-color: #ccdcec;

}

#portfolio .container .card .circle img {
    width: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ...About Style... */
#about {
    background-color: #FF6969;
    color: #fff;
    text-align: center;
}

#about .icon {
    width: max-content;
    margin: 0 auto;
}

#about .container p {
    width: 400px;
    text-align: center;
    padding: 0 40px;
    font-size: 16px;
    line-height: 30px;
}

/*.. End About.. */

/* ..contact Style.. */
#contact .container {
    flex-direction: column;
    align-items: center;
}

#contact form {
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#contact form input,
#contact form textarea {
    width: 400px;
    height: 50px;
    border: none;
    margin: 20px 0;
    border-bottom: 1px solid rgb(65, 62, 62);
    outline: none;
    padding-left: 20px;
}

#contact,
#portfolio {
    background-color: #FFF5E0;
    color: #2c3e50;
    padding-bottom: 50px;
}

/* ..End contact.. */

/* style button in about and contact sections */
.btn {
    width: 170px;
    height: 70px;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2c3e50;
    color: #fff;
    transition: 0.3s;
}

#about .btn .dow {
    font-size: 20px;
    margin: 0 10px;
}

#contact form button {
    width: 100px;
    height: 50px;
}

.btn:hover {
    font-size: 16px;
}

/* End Style */

/* Footer style */
#footer1 {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #2c3e50;
    padding: 40px 0;
    flex-wrap: wrap;
}

#footer1 .info {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 10px 75px;
    align-items: center;
    text-align: center;
}

#footer1 .info h1 {
    font-size: 20px;
    padding: 30px 0;
}

#footer1 .info p {
    font-size: 18px;
    line-height: 30px;
}

.socialMedia {
    width: 240px;
}


#footer1 .info .socialMedia a {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 5px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    padding: 5px 0;
}

#footer1 .info p a {
    color: #FF6969;
}

.socialMedia a .social {
    font-size: 30px;
}

.socialMedia a #facebook:hover,
.socialMedia a #linkedin:hover {
    color: #2480d6;
}

.socialMedia a #instagram:hover,
.socialMedia a #dribbble:hover {
    color: #d6246e;
}

#footer2 {
    padding: 15px 0;
    text-align: center;
    background-color: #FFF5E0;
}

#footer2 p {
    font-size: 18px;
}

@media screen and (max-width:992px) {
    html {
        font-size: 10px;
    }

    nav button {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav {
        padding: 0 50px;
    }

    .hero h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:450px) {
    #contact form {
        width: 280px;
    }

    #contact form input,
    textarea {
        width: 260px;
    }
}