.cards-certificates .card {
    margin-bottom: 2rem !important;
    flex-direction: row !important;
}

.card-title {
    background: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-text {
    font-size: 0.77rem !important;
    font-weight: 400;
    line-height: 1.55rem;
    color: rgba(0, 0, 0, 0.6);
}

.card-body button {
    margin: auto;
}


@media (max-width:950px) {
    .cards-certificates .card {
        flex-direction: column !important;
    }
}

@media (max-width:950px) {
    .cards-certificates .card img {
        width: 80% !important;
    }
}